<div class="left-section">
    <div *ngIf="todos.length > 0">
        <label>Filter By :</label>
        <select class="filter" name="filters" id="filterBy" (change)="showFurtherFilters($event.target.value)">
            <option value="select">Show All</option>
            <option value="Categories">Categories</option>
            <option value="Status">Status</option>
            <option value="Date">Date</option>
        </select>
    
        <select name="filters" id="filterByStatus" [(ngModel)]="filterStatus">
            <option value="select" selected>Select</option>
            <option value="Done">Done</option>
            <option value="pending">Pending</option>
        </select>
    
        <select name="filters" id="filterByCategories" [(ngModel)]="filterCategory">
            <option value="select" selected>Select</option>
            <option value="Home">Home</option>
            <option value="Personal">Personal</option>
            <option value="Office">Office</option>
        </select>
    
        <div class="date-filters" id="filterByDate">
            <label>From :</label>
            <input type="date" id="filterStartDate" [(ngModel)]="startDate">
    
            <label>To :</label>
            <input type="date" id="filterDueDate" [(ngModel)]="dueDate">
        </div>
    
        <div id="operations">
            <button type="button" id="edit" class="edit" (click)="onEditTodo()">Edit</button>
            <button type="button" id="delete" class="delete" (click)="onDeleteTodo()">Delete</button>
            <button type="button" id="markAsDone" class="mark-as-done" (click)="onStatusChange()">Mark as Done</button>
            <button class="add" (click)="navigateToAddTodo()">Add Todo</button>
            <input type="text" class="search-todos" placeholder="Search your todos..." [(ngModel)]="filterString">
        </div>
    </div>
   
    <div class="noTodos" *ngIf="todos.length == 0">
        <h1 id="noDataFound">No Data Found..!!</h1>
        <button class="add noTodos" (click)="navigateToAddTodo()">Add New Todo</button>
    </div>
    <table class="todo-table" id="todoTable" *ngIf="todos.length > 0">
        <thead>
            <tr>
                <th>Select</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Access</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody id="todoBody">
            <tr app-todo-item [todo]="todo"
                *ngFor="let todo of todos | categoriesFilter:filterCategory | titleFilter:filterString | statusFilter:filterStatus | dateFilter:startDate:dueDate let i=index"
                (todoSelected)="todoSelected($event)">
                <!-- <app-todo-item [todo]="todo"></app-todo-item> -->
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<router-outlet></router-outlet>