input, textarea , select{
    border: 1px solid #DFE1E6;
    border-radius: 3px;
}

.left-section{
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.left-section h1{
    font-size: 40px;
    color:  #C70039;
    text-align: center;
    margin-top: 30px;
}

.noTodos{
    text-align: center;
}

.left-section select , .left-section input[type="date"]{
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

table.todo-table{
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

table.todo-table td{
    overflow: hidden;
}

table.todo-table thead th{
    background-color: rgba(225,27,34,0.78);
    font-weight: bold;
    color: #fff;
    padding: 12px;
}

table.todo-table td:nth-of-type(7){
    width: 50px;
}

thead th , tbody td{
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.todo-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.todo-table tbody tr{
    border-bottom: 1px solid #dddddd;
    cursor: default;
}

.todo-table tbody tr:last-of-type{
    border-bottom: 3px solid rgba(225,27,34,0.78);
}

.todo-table  tbody tr:hover{
    font-weight: 700;
    background-color: #dddddd;

}
.edit, .delete, .mark-as-done, .add, .reset, .update-data, .show-todos{
    background-color: #E11B22;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 10px;
    color: #FFFFFF;
    box-shadow: 0 10px 6px -6px #777;
}

.search{
    background-color: #E11B22;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
    color: #FFFFFF;
}

#filterByStatus, #filterByCategories{
    display: none;
}

.date-filters{
    display: none;
}

.error{
    width: 100%;
    font-size: 16px;
    color: #d93025;
    margin-bottom: 5px;
}

.search-todos{
    float: right;
    margin-top: 20px;
    padding: 7px 0;
    padding-left: 33px;
    font-size: 12px;
    background-image: url('../../../assets/images/searchIcon.png');
    background-repeat: no-repeat;
    background-position: 8px 5px;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 15px;
    color: #656;
    width: 300px;
}

.search-todos:focus{
    outline: none;
}

button:disabled,
button[disabled]{
  opacity: 0.65;
  cursor: not-allowed;
}

.no-data-found{
    display: block;
    margin: 0 auto;
}

.noTodos{
    margin-top: 0;
} 