
td{
    overflow: hidden;
}

td:nth-of-type(7){
    width: 50px;
}

td{
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.done{
    font-weight: 700;
    color: green;
}

.pending{
    font-weight: 700;
    color: red;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
}

.delete-icon{
    color: red;
    margin-left: 18px;
}

td i {
    cursor: pointer;
}


