<div class="right-section">

    <form id="addToDo" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <p class="error" id="formError">All fields marked with an asterisk(*) are required</p>
        <i class="fa fa-asterisk asterisk-1"></i>
        <input type="text" placeholder="Title.." id="toDoTitle" formControlName="title"><br>

        <i class="fa fa-asterisk asterisk-2"></i>
        <label>Start Date : </label><input id="startDate" type="date" formControlName="startDate" #startDate (click)="disablePreviousDates(startDate.id)"><br>

        <i class="fa fa-asterisk asterisk-3"></i>
        <label>Due Date : </label> <input id="dueDate" type="date" formControlName="dueDate" #dueDate (click)="disablePreviousDates(dueDate.id)"><br>

        <div class="public">
            <label>Keep This Private ?</label>
            <input type="checkbox" id="isToDoPublic" formControlName="isPublic">
        </div>

        <label>Categories :</label>
        <label><input type="radio" name="category" value="Home" formControlName="category" [checked]="true">Home</label>
        <label><input type="radio" name="category" value="Personal" formControlName="category">Personal</label>
        <label><input type="radio" name="category" value="Office" formControlName="category">Office</label>

        <textarea id="description" rows="10" placeholder="Add description here..."
            formControlName="description"></textarea><br>

        <button type="submit" id="add" class="add" [disabled]="!todoForm.valid">{{ editMode == false ? 'Add' : 'Save Changes'}}</button>
        <button type="reset" class="reset" [disabled]="!todoForm.touched">Reset</button>
    </form>
</div>

<div class="clearfix"></div>