.right-section{
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: 2px solid black;
    font-size: 16px;
}

.right-section form{
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 25px 40px;
    position: relative;
}
.right-section input[type="text"]{
    width: 100%;
    height: 42px;
    font-size: 16px;
    margin-bottom: 20px;
}

.right-section label{
    margin-right: 10px;
}

.right-section input[type="date"]{
    width: 50%;
    height: 42px;
    margin-bottom: 20px;
}

.right-section input[type="checkbox"]{
    height: 17px;
    width: 40px;
    vertical-align: middle;
}

.public{
    margin-bottom: 20px;
}

.right-section input[type="radio"]{
    margin: 0px 5px 20px 20px;

}

input[type="date"]{
    position: relative;
    cursor: pointer;
}

label{
    cursor: pointer;
}

.right-section textarea{
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

.error{
    width: 100%;
    font-size: 16px;
    color: #d93025;
    margin-bottom: 5px;
}

.edit, .delete, .mark-as-done, .add, .reset, .update-data{
    background-color: #E11B22;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 10px;
    color: #FFFFFF;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

button:disabled,
button[disabled]{
  opacity: 0.65;
  cursor: not-allowed;
}

.asterisk-1{
    font-size:x-small;
    color:#d93025;
    position:relative;
    left:100%;
    top:3px;
}

.asterisk-2{
    font-size: x-small;
    color: #d93025;
    position: absolute;
    left: 64%;
    top: 18.7%;
}

.asterisk-3{
    font-size: x-small;
    color: #d93025;
    position: absolute;
    left: 63.5%;
    top: 28.4%;
}