<div class="alert alert-success user-registered" *ngIf="userCreated">
    User registered successfully!
</div>

<img class="logo" src="../../assets/images/logo.png" alt="logo">

<div class="form-container">

    <h1>Log in into Agenda</h1>

    <div class="alert alert-danger" *ngIf="formError">
        <p>{{ errorMessage }} </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <input id="email" type="email" formControlName="email" placeholder="Enter Email Address">
        <p class="error"
            *ngIf="!loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched )">Please enter a valid email address..!!
        </p>

        <input id="password" type="password" formControlName="password" placeholder="Enter Password">

        <button type="submit" class="login" [disabled]="!loginForm.valid || isFetching">{{ buttonText }}</button>
    </form>
    
    <div style="text-align: center" *ngIf="isFetching">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <hr>
    <p class="signup">New User ?&nbsp;&nbsp;<a routerLink="/signup">Sign up for an account</a></p>
</div>